[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ajz0003
[access "refs/for/refs/*"]
	read = group user/ajz0003
	push = group user/ajz0003
	label-Code-Review = -2..+2 group user/ajz0003
	label-Verified = -1..+1 group user/ajz0003
	rebase = group user/ajz0003
	removeReviewer = group user/ajz0003
	submit = group user/ajz0003
[access "refs/heads/*"]
	read = group user/ajz0003
	create = group user/ajz0003
	push = +force group user/ajz0003
	pushMerge = group user/ajz0003
[access "refs/tags/*"]
	push = +force group user/ajz0003
	pushTag = group user/ajz0003
	pushSignedTag = group user/ajz0003
